In [48]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [49]:
data_train = pd.read_csv("trainn.csv")
data_train = data_train.iloc[:,1:]
data_train

,protocol,duration,src_port,dst_port,ndpi_proto_num,c_to_s_pkts,c_to_s_bytes,c_to_s_goodput_bytes,s_to_c_pkts,s_to_c_bytes,...,s_to_c_ece,s_to_c_urg,s_to_c_ack,s_to_c_psh,s_to_c_rst,s_to_c_syn,s_to_c_fin,c_to_s_init_win,s_to_c_init_win,NewLabel
0,6,0.120,52012,3389,88.0,3,217,43,2,139,...,2,0,4,2,0,2,0,66,66,0
1,6,1.239,9454,3389,88.0,9,1170,672,6,637,...,2,0,14,9,0,2,0,66,66,0
2,6,0.057,13910,3389,88.0,1,171,117,1,54,...,0,0,2,1,0,0,0,0,0,0
3,6,0.312,14708,3389,88.0,2,193,85,2,108,...,0,0,4,1,0,0,1,0,0,0
4,6,1.733,18056,3389,88.0,10,1225,673,8,745,...,2,0,17,9,0,2,1,66,66,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3763547,6,8.952,1231,443,91.0,3,186,0,0,0,...,0,0,0,0,0,3,0,62,0,5
3763548,6,8.964,1229,443,91.0,3,186,0,0,0,...,0,0,0,0,0,3,0,62,0,5
3763549,6,8.894,1227,443,91.0,3,186,0,0,0,...,0,0,0,0,0,3,0,62,0,5
3763550,6,8.983,1245,443,91.0,3,186,0,0,0,...,0,0,0,0,0,3,0,62,0,5
3763551,6,0.709,1539,80,7.0,9,1334,840,12,12991,...,0,0,20,5,0,2,2,62,62,5

In [50]:
data_test = pd.read_csv("test.csv")
data_test

,protocol,duration,src_port,dst_port,ndpi_proto_num,c_to_s_pkts,c_to_s_bytes,c_to_s_goodput_bytes,s_to_c_pkts,s_to_c_bytes,...,s_to_c_ece,s_to_c_urg,s_to_c_ack,s_to_c_psh,s_to_c_rst,s_to_c_syn,s_to_c_fin,c_to_s_init_win,s_to_c_init_win,NewLabel
0,6,0.773,55872,445,16.0,5,564,286,4,394,...,0,0,8,5,1,2,0,62,62,0
1,6,3.849,47036,3389,88.0,13,2173,1459,9,2229,...,2,0,21,12,0,2,1,66,66,0
2,6,2.919,35055,3389,88.0,11,2090,1484,9,2225,...,0,0,19,12,0,2,1,66,66,0
3,6,4.113,54399,3389,88.0,14,2228,1460,9,2229,...,2,0,22,12,0,2,1,66,66,0
4,6,2.057,49864,3389,88.0,9,2287,1789,8,2037,...,0,0,16,11,1,2,0,66,66,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269995,6,0.640,1398,80,7.0,4,224,0,3,180,...,0,0,6,1,0,2,2,62,60,5
269996,6,0.577,1364,80,7.0,4,224,0,3,180,...,0,0,6,1,0,2,2,62,60,5
269997,6,0.666,1366,80,7.0,4,224,0,3,180,...,0,0,6,1,0,2,2,62,60,5
269998,6,0.687,1461,80,7.0,4,224,0,3,180,...,0,0,6,1,0,2,2,62,60,5
269999,6,16.740,1374,80,7.0,4,224,0,3,180,...,0,0,6,1,0,2,2,62,60,5

In [51]:
#Minimize data to run faster just to see if my codes are working or not
data_train = data_train.sample(n = 10000)
data_test = data_test.sample(n = 1000)

In [52]:
#Train-test split
X_train = data_train.iloc[:,:-1]
X_test = data_test.iloc[:,:-1]
y_train = data_train.iloc[:,-1:]
y_test = data_test.iloc[:,-1:]
X_train

,protocol,duration,src_port,dst_port,ndpi_proto_num,c_to_s_pkts,c_to_s_bytes,c_to_s_goodput_bytes,s_to_c_pkts,s_to_c_bytes,...,s_to_c_cwr,s_to_c_ece,s_to_c_urg,s_to_c_ack,s_to_c_psh,s_to_c_rst,s_to_c_syn,s_to_c_fin,c_to_s_init_win,s_to_c_init_win
3585218,6,0.103,53670,80,7.000,4,665,437,1,66,...,0,0,0,4,2,0,2,0,66,66
2085283,6,6.862,59979,3389,88.000,11,1939,1333,12,5772,...,1,2,0,22,14,1,2,0,66,66
3753571,6,0.573,51536,80,7.000,4,544,304,3,1626,...,0,0,0,6,2,1,2,0,66,60
438512,6,0.286,49687,443,91.178,16,1806,930,27,31460,...,0,1,0,42,11,0,2,0,66,66
286803,6,0.103,58853,3895,0.000,2,108,0,1,54,...,0,0,0,1,0,2,1,0,54,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987243,17,1138.228,34526,22,0.000,344,25456,11008,0,0,...,0,0,0,0,0,0,0,0,0,0
2817042,17,213.899,49693,80,0.000,110243,8157982,3527776,0,0,...,0,0,0,0,0,0,0,0,0,0
696862,6,3.159,61714,3389,88.000,10,1700,1148,8,2025,...,0,2,0,17,10,1,2,0,66,66
2595736,6,0.179,47040,80,7.000,5,711,373,5,1273,...,0,0,0,9,2,0,2,2,74,74
656889,6,2.081,51860,3389,88.000,10,1222,670,8,745,...,0,2,0,17,9,0,2,1,66,66

In [53]:
X_test

,protocol,duration,src_port,dst_port,ndpi_proto_num,c_to_s_pkts,c_to_s_bytes,c_to_s_goodput_bytes,s_to_c_pkts,s_to_c_bytes,...,s_to_c_cwr,s_to_c_ece,s_to_c_urg,s_to_c_ack,s_to_c_psh,s_to_c_rst,s_to_c_syn,s_to_c_fin,c_to_s_init_win,s_to_c_init_win
226995,17,0.133,1497,53,5.0,2,180,96,2,333,...,0,0,0,0,0,0,0,0,0,0
162245,17,1378.366,28160,22,0.0,38,2812,1216,0,0,...,0,0,0,0,0,0,0,0,0,0
74631,6,0.015,55799,80,7.0,3,389,215,2,126,...,0,0,0,4,1,0,2,0,66,66
83915,6,0.307,50508,80,7.0,5,896,614,2,132,...,0,0,0,6,3,0,2,0,66,66
143356,17,739.576,25122,22,0.0,15,1110,480,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250418,17,0.251,61794,53,5.0,1,71,29,1,87,...,0,0,0,0,0,0,0,0,0,0
244731,6,0.384,3866,25,3.0,6,428,96,8,868,...,0,0,0,13,7,1,2,0,62,60
169478,17,9840.988,11927,22,0.0,2542,188108,81344,0,0,...,0,0,0,0,0,0,0,0,0,0
12506,6,1.954,56677,3389,88.0,8,1588,1144,7,1971,...,0,2,0,14,10,1,2,0,66,66
39453,6,2.367,51369,3389,88.0,8,1588,1144,8,2318,...,0,0,0,15,11,1,2,0,66,66

In [54]:
y_train

         NewLabel
3585218         4
2085283         0
3753571         5
438512          0
286803          0
...           ...
2987243         3
2817042         3
696862          0
2595736         2
656889          0

[10000 rows x 1 columns]

In [55]:
y_test

        NewLabel
226995         5
162245         3
74631          1
83915          1
143356         3
...          ...
250418         5
244731         5
169478         3
12506          0
39453          0

[1000 rows x 1 columns]

In [56]:
# XGBoost Classification Feature Importance
from xgboost import XGBClassifier
from matplotlib import pyplot

model = XGBClassifier()
model.fit(X_train, y_train)
importance = model.feature_importances_

for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

C:\Users\bengisu.kavurdu\Anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\bengisu.kavurdu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[13:33:36] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Feature: 0, Score: 0.01030
Feature: 1, Score: 0.05953
Feature: 2, Score: 0.00599
Feature: 3, Score: 0.12091
Feature: 4, Score: 0.05729
Feature: 5, Score: 0.05103
Feature: 6, Score: 0.00583
Feature: 7, Score: 0.04231
Feature: 8, Score: 0.01091
Feature: 9, Score: 0.00532
Feature: 10, Score: 0.00521
Feature: 11, Score: 0.00574
Feature: 12, Score: 0.00403
Feature: 13, Score: 0.01213
Feature: 14, Score: 0.00300
Feature: 15, Score: 0.00416
Feature: 16, Score: 0.00367
Feature: 17, Score: 0.00308
Feature: 18, Score: 0.00370
Feature: 19, Score: 0.01074
Feature: 20, Score: 0.00198
Feature: 21, Score: 0.00263
Feature: 22, Score: 0.01669
Feature: 23, Score: 0.00569
Feature: 24, Score: 0.01361
Feature: 25, Score: 0.00321
Feature: 26, Score: 0.03674
Feature: 27, Score: 0.00632
Feature: 28, Score: 0.01079
Feature: 29, Score: 0.00508
Feature: 30, Score: 0.13044
Feature: 31, Score: 0.00792
Feature: 32, Score: 0.00665
Feature: 33, Score: 0.00704
Feature: 34, Score: 0.01435
Feature: 35, Score: 0.00179
Feature: 36, Score: 0.00000
Feature: 37, Score: 0.00293
Feature: 38, Score: 0.04184
Feature: 39, Score: 0.03390
Feature: 40, Score: 0.00234
Feature: 41, Score: 0.02539
Feature: 42, Score: 0.00909
Feature: 43, Score: 0.00300
Feature: 44, Score: 0.00000
Feature: 45, Score: 0.01221
Feature: 46, Score: 0.00575
Feature: 47, Score: 0.01516
Feature: 48, Score: 0.01886
Feature: 49, Score: 0.03954
Feature: 50, Score: 0.02300
Feature: 51, Score: 0.00000
Feature: 52, Score: 0.00000
Feature: 53, Score: 0.00000
Feature: 54, Score: 0.00000
Feature: 55, Score: 0.00000
Feature: 56, Score: 0.00000
Feature: 57, Score: 0.00000
Feature: 58, Score: 0.05342
Feature: 59, Score: 0.01780

In [57]:
#Feature Selection with Correlation
def correlation(dataset,threshold):
    col_corr = set()
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i,j]) > threshold:
                colname = corr_matrix.columns[i]
                col_corr.add(colname)
    return col_corr

In [58]:
corr_features = correlation(X_train, 0.7)
len(set(corr_features))

35

In [59]:
X_train = X_train.drop(corr_features, axis = 1)
X_test = X_test.drop(corr_features, axis = 1)
X_train

,protocol,duration,src_port,dst_port,ndpi_proto_num,c_to_s_pkts,s_to_c_pkts,s_to_c_bytes,data_ratio,c_to_s_goodput_ratio,...,iat_s_to_c_avg,pktlen_c_to_s_min,pktlen_s_to_c_min,cwr,urg,rst,fin,c_to_s_urg,s_to_c_cwr,s_to_c_urg
3585218,6,0.103,53670,80,7.000,4,1,66,0.819,65.6,...,0.0,54,66,0,0,0,0,0,0,0
2085283,6,6.862,59979,3389,88.000,11,12,5772,-0.497,68.7,...,586.3,54,54,3,0,1,0,0,1,0
3753571,6,0.573,51536,80,7.000,4,3,1626,-0.499,55.8,...,166.0,60,60,0,0,1,0,0,0,0
438512,6,0.286,49687,443,91.178,16,27,31460,-0.891,51.5,...,10.6,54,54,1,0,0,0,0,0,0
286803,6,0.103,58853,3895,0.000,2,1,54,0.333,0.0,...,0.0,54,54,0,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987243,17,1138.228,34526,22,0.000,344,0,0,1.000,43.2,...,0.0,74,0,0,0,0,0,0,0,0
2817042,17,213.899,49693,80,0.000,110243,0,0,1.000,43.2,...,0.0,74,0,0,0,0,0,0,0,0
696862,6,3.159,61714,3389,88.000,10,8,2025,-0.087,67.5,...,298.2,54,54,1,0,1,0,0,0,0
2595736,6,0.179,47040,80,7.000,5,5,1273,-0.283,52.4,...,59.3,66,66,0,0,0,2,0,0,0
656889,6,2.081,51860,3389,88.000,10,8,745,0.243,54.8,...,346.2,54,54,1,0,0,1,0,0,0

In [66]:
#Select top 15 features based on f_classif
from sklearn.feature_selection import SelectKBest, f_classif
selector = SelectKBest(f_classif, k = 15)
selector.fit(X_train, y_train)
X_train.columns[selector.get_support()]

C:\Users\bengisu.kavurdu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\bengisu.kavurdu\Anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:114: UserWarning: Features [19 22 24] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx,
C:\Users\bengisu.kavurdu\Anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

Index(['protocol', 'duration', 'src_port', 'dst_port', 'ndpi_proto_num',
       'c_to_s_pkts', 'data_ratio', 'c_to_s_goodput_ratio',
       's_to_c_goodput_ratio', 'iat_flow_avg', 'iat_flow_max',
       'pktlen_c_to_s_min', 'pktlen_s_to_c_min', 'cwr', 'rst'],
      dtype='object')

In [67]:
#Drop other features except best 15 features
X_train.drop(X_train.columns.difference(X_train.columns[selector.get_support()]), 1, inplace=True)
X_train

,protocol,duration,src_port,dst_port,ndpi_proto_num,c_to_s_pkts,data_ratio,c_to_s_goodput_ratio,s_to_c_goodput_ratio,iat_flow_avg,iat_flow_max,pktlen_c_to_s_min,pktlen_s_to_c_min,cwr,rst
3585218,6,0.103,53670,80,7.000,4,0.819,65.6,0.0,101.0,101,54,66,0,0
2085283,6,6.862,59979,3389,88.000,11,-0.497,68.7,1211.8,409.6,2277,54,54,3,1
3753571,6,0.573,51536,80,7.000,4,-0.499,55.8,89.2,285.0,332,60,60,0,1
438512,6,0.286,49687,443,91.178,16,-0.891,51.5,95.3,32.8,196,54,54,1,0
286803,6,0.103,58853,3895,0.000,2,0.333,0.0,0.0,103.0,103,54,54,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987243,17,1138.228,34526,22,0.000,344,1.000,43.2,0.0,3567.5,95766,74,0,0,0
2817042,17,213.899,49693,80,0.000,110243,1.000,43.2,0.0,88.8,3087,74,0,0,0
696862,6,3.159,61714,3389,88.000,10,-0.087,67.5,78.0,262.6,1062,54,54,1,1
2595736,6,0.179,47040,80,7.000,5,-0.283,52.4,73.4,35.2,55,66,66,0,0
656889,6,2.081,51860,3389,88.000,10,0.243,54.8,40.3,207.4,1300,54,54,1,0

In [69]:
X_test.drop(X_test.columns.difference(X_test.columns[selector.get_support()]), 1, inplace=True)
X_test

,protocol,duration,src_port,dst_port,ndpi_proto_num,c_to_s_pkts,data_ratio,c_to_s_goodput_ratio,s_to_c_goodput_ratio,iat_flow_avg,iat_flow_max,pktlen_c_to_s_min,pktlen_s_to_c_min,cwr,rst
226995,17,0.133,1497,53,5.0,2,-0.298,53.0,74.6,66.0,94,80,153,0,0
162245,17,1378.366,28160,22,0.0,38,1.000,43.2,0.0,23288.5,149037,74,0,0,0
74631,6,0.015,55799,80,7.0,3,0.511,55.1,0.0,7.0,7,54,60,0,0
83915,6,0.307,50508,80,7.0,5,0.743,68.5,0.0,101.3,277,54,66,0,0
143356,17,739.576,25122,22,0.0,15,1.000,43.2,0.0,56829.4,219403,74,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250418,17,0.251,61794,53,5.0,1,-0.101,40.3,51.1,251.0,251,71,87,0,0
244731,6,0.384,3866,25,3.0,6,-0.340,22.4,47.4,54.4,93,54,60,0,1
169478,17,9840.988,11927,22,0.0,2542,1.000,43.2,0.0,3937.2,133300,74,0,0,0
12506,6,1.954,56677,3389,88.0,8,-0.108,72.0,80.2,177.1,967,54,54,1,1
39453,6,2.367,51369,3389,88.0,8,-0.187,72.0,80.8,196.8,951,54,54,0,1

In [70]:
#KNN Classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1, metric='minkowski')
knn.fit(X_train,y_train)

C:\Users\bengisu.kavurdu\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [75]:
X_train.shape

(10000, 15)

In [74]:
X_test.shape

(1000, 15)

In [76]:
y_train.shape

(10000, 1)

In [77]:
y_test.shape

(1000, 1)

In [73]:
y_pred = knn.predict(X_test)
print(y_test)
y_pred = pd.DataFrame(data = y_pred, columns = ['NewLabel'])
print(y_pred)

        NewLabel
226995         5
162245         3
74631          1
83915          1
143356         3
...          ...
250418         5
244731         5
169478         3
12506          0
39453          0

[1000 rows x 1 columns]
     NewLabel
0           5
1           3
2           3
3           1
4           3
..        ...
995         1
996         5
997         3
998         0
999         0

[1000 rows x 1 columns]

In [72]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
#706 True 294 False %70.6 true

[[174   0   0   0   1   0]
 [  6  79   2   6  76   1]
 [ 28  12  45  16  35   1]
 [  0   0   1 161   0   0]
 [  9  22   2   0 150   0]
 [ 55   7   2   2  10  97]]